@model Slide
<div class="card" style="width: 18rem;">
		<img src="~/assets/images/website-images//@Model.Image" class="card-img" class="card-img-top" alt="...">
	</div>

	<div class="m-5">
		<h1 >@Model.Title</h1>
		<h3 >@Model.SubTitle</h3>
		<p >@Model.Description</p>
	</div>
</div>
