@model Color
<div class="card" style="width: 18rem;">
		<img src="~/assets/images/website-images//" class="card-img" class="card-img-top" alt="...">
	</div>

	<div class="m-5">
		<h1 >@Model.Name</h1>
		<h3 >@Model.ProductColors</h3>
	
	</div>

<
